<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/dfa7894c65.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <section>

             <!--   section 1 -->
    <section class="header-bar">

             <!--  Logo -->
    <picture id="logo-ml">
    <img src ="\images\logo-mercado-liebre.svg" alt = "Logo Mercado Liebre">
    </picture>

             <!-- barra-busqueda -->
    <form action="/" method="get">
    <section class="barra-busqueda">
    <input type="text" placeholder="Buscar productos, marcas" id="input-barra-busqueda">
    <button><i class="fa-solid fa-magnifying-glass"></i></button> <!-- Barra de busqueda -->
    </section>
    </form>

            <!--  texto-promo -->
    <article class="promo">
    <i class="fa-solid fa-hand-holding-dollar"></i>
    <h4> Comprá en cuotas y sin tarjeta de crédito </h4>
    </article>
    </section>

            <!--  section 2 -->
    <section class="contenedor-menu">
    <article class="burger-menu">
    <a href="#">
    <i class="fas fa-bars"></i>
    </a>
    </article>
    </section>

            <!-- section 3 -->
    <section class="nav-items">
    <nav>
    <a href ="#">Ofertas</a>
    <a href ="#">Tiendas Oficiales</a>
    <a href ="#">Vender</a>
    <a href ="#">Ayuda</a>
    </nav>
    <nav>
    <a href ="./register">Creá tu cuenta <i class="fa-sharp fa-regular fa-id-card"></i></a>
    <a href ="./login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
    <a href ="/">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a>
    </nav>
    </section>
</header>
              <!-- section main -->
  <main>
    <section>
  
   <picture id="banner" >
   <section class="banner-img">
   <img src="\images\img-home-banner.jpg" alt="Banner de ofertas">
   </section>
   </picture>
              <!-- section articulos 1 -->
   <article class="titulares">
   <h3>Basado en tu última visita</h3>
   </article> 
   <section class="contenedor-padre">
             <!-- articulo 1 -->
   <article class="contenedor-articulos">
   <figure class="images">
   <img src ="\images\img-cafetera-moulinex.jpg"  alt="Cafetera Moulinex"></img>
   </figure>
   <section class="caja-articulos">
   <dl>
   <i class="fa-solid fa-truck"alt="Logo de envío"></i>
   <dt class="precios">$6.770</dt>
   <dt class="descuentos">40% OFF</dt>
   <dt class="descripciones">Cafetera Moulinex</dt>
   </dl>
   </section>
   </article>

       <!--  articulo 2 -->
   <article class="contenedor-articulos">
   <figure class="images">
   <img src ="\images\img-macbook-pro-2019.jpg" alt="MacBook Pro"></img>
   </figure>
   <section class="caja-articulos">
    <dl>
    <i class="fa-solid fa-truck"alt="Logo de envío"></i>
    <dt class="precios">$230.000</dt>
    <dt class="descuentos">20% off</dt>
    <dt class="descripciones">MacBook Pro 2019</dt>
    </dl>
   </section>
    </article>

       <!--  articulo 3 -->
    <article class="contenedor-articulos">
    <figure class="images">
    <img src ="\images\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"></img>
    </figure>
    <section class="caja-articulos">
    <dl>
    <i class="fa-solid fa-truck"alt="Logo de envío"></i>
    <dt class="precios">$70.500</dt>
    <dt class="descuentos">10% off</dt>
    <dt class="descripciones">Samsung Galaxy S10</dt>
    </dl>
    </section>
    </article>
    
             <!-- section 4 -->
    <article class="contenedor-articulos">
    <figure class="images">
    <img src ="\images\img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"></img>
    </figure>
    <section class="caja-articulos">
    <dl>
    <i class="fa-solid fa-truck"alt="Logo de envío"></i>
    <dt class="precios">$23.200</dt>
    <dt class="descuentos">5% off</dt>
    <dt class="descripciones">SmartTv Samsung 43"</dt>
    </dl>
    </section>
    </article>
   </section>
         <!-- section articulos 2 -->
    <article class="titulares">
    <h3>Sección de ofertas</h3>
    </article>
    <section class="contenedor-padre">      
        <!--  articulo 1 -->
    <article class="contenedor-articulos">
    <figure class="images">
    <img src="\images\img-cafetera-moulinex.jpg"  alt="Cafetera Moulinex"></img>
    </figure>
    <section class="caja-articulos">
    <dl>
    <i class="fa-solid fa-truck"alt="Logo de envío"></i>
    <dt class="precios">$6.770</dt>
    <dt class="descuentos">40% off</dt>
    <dt class="descripciones">Cafetera Moulinex</dt>
    </dl>
    </section>
    </article>
       <!--  articulo 2 -->
    <article class="contenedor-articulos">
    <figure class="images">
    <img src="\images\img-macbook-pro-2019.jpg" alt="MacBook Pro 2019"></img>
    </figure>
    <section class="caja-articulos">
    <dl>
    <i class="fa-solid fa-truck"alt="Logo de envío"></i>
    <dt class="precios">$230.000</dt>
    <dt class="descuentos">10% off</dt>
    <dt class="descripciones">MacBook Pro 2019</dt>
    </dl>
    </section>
    </article>
        <!-- articulo 3 -->
    <article class="contenedor-articulos">
    <figure class="images">
    <img src ="\images\img-samsung-galaxy-s10.jpg"  alt="Samsung Galaxy S10"></img>
    </figure>
    <section class="caja-articulos">
    <dl>
    <i class="fa-solid fa-truck"alt="Logo de envío"></i>
    <dt class="precios">$70.500</dt>
    <dt class="descuentos">10% off</dt>
    <dt class="descripciones">Samsung Galaxy S10</dt>
    </dl>
    </section>
    </article>
           <!--  articulo 4 -->
    <article class="contenedor-articulos">
    <figure class="images">
    <img src ="\images\img-tv-samsung-smart.jpg"  alt="SmartTv Samsung 43"></img>
    </figure>
    <section class="caja-articulos">
    <dl>
    <i class="fa-solid fa-truck"alt="Logo de envío"></i>
    <dt class="precios">$23.200</dt>
    <dt class="descuentos">5% off</dt>
    <dt class="descripciones">SmartTv Samsung 43"</dt>
    </dl>
    </section>
    </article>
   </section>
   </section>
   
 </main>
        <!--  section footer -->
<footer>

  <section class="contenedor-footer">
   <section class="caja-footer">
    <article class="icons-footer">
    <i class="fa-solid fa-credit-card iconos"></i>
    </article>
    <article class="copy-footer">
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
     puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    </section>
    
    <section class="caja-footer">
    <article class="icons-footer">
    <i class="fa-solid fa-gift iconos"></i>
    </article>
    <article class="copy-footer">
    <h3>Envío gratis desde $2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
     productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    </section>

    <section class="caja-footer">
    <article class="icons-footer">
    <i class="fa-solid fa-user-shield iconos"></i>
    <article class="copy-footer">
    <h3> Seguridad, de principio a fin</h3>
    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, 
     no hay nada que no puedas hacer,
     porque estás siempre protegid@.</p>
    </article>
    </article>
    </section>
    </section>
<article class="c-footer">
    <p id="txt-footer">copyright ©  1999-2020 MercadoLiebre S.R.L.</p>
</article>

      
</footer>

</body>
</html>
